body {
        background-color: rgb(255,228,225)
}

p    {
        color: rgb(119,136,153);
        font-size: 20px;
        text-align: justify;
        padding: 10px 10px 10px;
        margin-bottom: 5%;
        margin-top: 10%;
        font-style: italic;
        justify-content: space-evenly;
}
img {
        filter: grayscale(99%);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
}
h1 {
        text-align: center;
        font-size: 40px;
}
h2 {
        text-align:inherit;
        font-size: 30px;
}
ol {
        list-style: none;
        padding: 10px 10px 10px;
        margin-bottom: 5%;
        margin-top: 10%;
        font-style: italic;
        display: flex;
        justify-content: space-evenly;
}
li {
        width: 33.3%
}
